@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --blue: #55A3FF;
    --gray: #F3F3F3
    --white: white;
    --black: black;

    --font-primary: "Lora", sans-serif;
}