.title1{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 52px;
    line-height: 4.16rem;
}

.title2{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 44px;
    line-height: 3.52rem;
}

.title3{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.4375rem;
    line-height: 1.84rem;
}

.titlePost{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.88rem;
}

.title1_Mobile{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.72rem;
}

.title2_Mobile{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.4rem;
}

.titlePost_Mobile{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.24rem;
}

.paragraph{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
}

.paragraph_Mobile{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 2.125rem;
}

.smallParagraph{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.0588rem;
}

.label{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.0588rem;
}

.link{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.1344rem;
}